In [1]:
import dask.dataframe as dd
import pandas as pd

In [2]:
# reading the data of a dask directory and converting into a pandas dataframe
def read_dd_to_pandas(route):
    route_dask_df = dd.read_csv("~/data/leavetimes_split_by_route/{}/*.part".format(route))
    route_dask_df = route_dask_df.drop('Unnamed: 0', axis=1)
    route_pd_df = route_dask_df.compute()
    route_pd_df = route_pd_df.reset_index()
    route_pd_df["DAYOFSERVICE"] = pd.to_datetime(route_pd_df["DAYOFSERVICE"])
    route_pd_df["LASTUPDATE"] = pd.to_datetime(route_pd_df["LASTUPDATE"])

    return route_pd_df

In [3]:
route_pd_df = read_dd_to_pandas("route1")

In [7]:
trips = dd.read_csv("data/rt_trips_DB_2018.txt", sep = ";")
trips_testing = trips[["TRIPID", "DIRECTION"]].compute()

In [9]:
trips_test = trips_testing.drop_duplicates()

In [11]:
trips_test.shape

(658964, 2)

In [14]:
merged = pd.merge(route_pd_df, trips_test)

In [15]:
merged.shape

(1336960, 14)

In [23]:
merged[merged["DIRECTION"] == 1][merged["TRIPID"] == 8149219]

<ipython-input-23-6525190fa565>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged[merged["DIRECTION"] == 1][merged["TRIPID"] == 8149219]

,index,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,DIRECTION
1336937,6464,2018-12-02,8149219,1,226,84600,84600,84606,84606,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336938,6465,2018-12-02,8149219,2,228,84627,84627,84635,84635,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336939,6466,2018-12-02,8149219,3,229,84650,84650,84648,84648,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336940,6467,2018-12-02,8149219,4,227,84686,84686,84681,84692,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336941,6468,2018-12-02,8149219,5,230,84709,84709,84717,84717,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336942,6469,2018-12-02,8149219,6,231,84739,84739,84763,84763,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336943,6470,2018-12-02,8149219,7,1641,84803,84803,84839,84849,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336944,6471,2018-12-02,8149219,8,1642,84843,84843,84874,84874,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336945,6472,2018-12-02,8149219,9,213,84884,84884,84918,84918,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336946,6473,2018-12-02,8149219,10,214,84903,84903,84939,84939,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336947,6474,2018-12-02,8149219,11,4432,84922,84922,84959,84959,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336948,6475,2018-12-02,8149219,12,119,84942,84942,84996,84996,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336949,6476,2018-12-02,8149219,13,44,84963,84963,85015,85015,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336950,6477,2018-12-02,8149219,14,7603,84978,84978,85026,85026,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336951,6478,2018-12-02,8149219,15,45,84995,84995,85042,85042,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336952,6479,2018-12-02,8149219,16,46,85029,85029,85081,85081,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336953,6480,2018-12-02,8149219,17,47,85070,85070,85114,85129,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336954,6481,2018-12-02,8149219,18,48,85100,85100,85152,85152,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336955,6482,2018-12-02,8149219,19,49,85142,85142,85193,85193,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336956,6483,2018-12-02,8149219,20,51,85193,85193,85226,85226,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336957,6484,2018-12-02,8149219,21,52,85220,85220,85275,85275,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336958,6485,2018-12-02,8149219,22,265,85308,85308,85327,85327,1932331,NaN,NaN,2019-01-15 17:31:01,1
1336959,6486,2018-12-02,8149219,23,271,85364,85364,85375,85375,1932331,NaN,NaN,2019-01-15 17:31:01,1